In [33]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import pickle
import json

In [2]:
df=pd.read_csv("Job_Placement_Data.csv")
df

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   ssc_percentage       215 non-null    float64
 2   ssc_board            215 non-null    object
 3   hsc_percentage       215 non-null    float64
 4   hsc_board            215 non-null    object
 5   hsc_subject          215 non-null    object
 6   degree_percentage    215 non-null    float64
 7   undergrad_degree     215 non-null    object
 8   work_experience      215 non-null    object
 9   emp_test_percentage  215 non-null    float64
 10  specialisation       215 non-null    object
 11  mba_percent          215 non-null    float64
 12  status               215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [5]:
df.isna().sum()

gender                 0
ssc_percentage         0
ssc_board              0
hsc_percentage         0
hsc_board              0
hsc_subject            0
degree_percentage      0
undergrad_degree       0
work_experience        0
emp_test_percentage    0
specialisation         0
mba_percent            0
status                 0
dtype: int64

In [6]:
df['gender'].value_counts()

M    139
F     76
Name: gender, dtype: int64

In [7]:
df['gender'].replace({'M':0,'F':1},inplace=True)

In [8]:
df

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed
211,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed
212,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed
213,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed
214,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed

In [9]:
df['ssc_board'].value_counts()

Central    116
Others      99
Name: ssc_board, dtype: int64

In [10]:
df['ssc_board'].replace({'Central':0,'Others':1},inplace=True)

In [11]:
df['hsc_board'].value_counts()

Others     131
Central     84
Name: hsc_board, dtype: int64

In [12]:
df['hsc_board'].replace({'Central':0,'Others':1},inplace=True)

In [13]:
df['hsc_subject'].value_counts()

Commerce    113
Science      91
Arts         11
Name: hsc_subject, dtype: int64

In [22]:
df['hsc_subject'].replace({'Science':0,'Commerce':1,'Arts':2},inplace=True)

In [15]:
df['undergrad_degree'].value_counts()

Comm&Mgmt    145
Sci&Tech      59
Others        11
Name: undergrad_degree, dtype: int64

In [16]:
df['undergrad_degree'].replace({'Comm&Mgmt':0,'Sci&Tech':1,'Others':2},inplace=True)

In [17]:
df['work_experience'].value_counts()

No     141
Yes     74
Name: work_experience, dtype: int64

In [18]:
df['work_experience'].replace({'No':0,'Yes':1},inplace=True)

In [19]:
df['specialisation'].value_counts()

Mkt&Fin    120
Mkt&HR      95
Name: specialisation, dtype: int64

In [20]:
df['specialisation'].replace({'Mkt&Fin':0,'Mkt&HR':1},inplace=True)

In [27]:
df['status'].value_counts()

Placed        148
Not Placed     67
Name: status, dtype: int64

In [28]:
df['status'].replace({'Not Placed':0,'Placed':1},inplace=True)

In [29]:
df

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,0,67.00,1,91.00,1,1,58.00,1,0,55.0,1,58.80,1
1,0,79.33,0,78.33,1,0,77.48,1,1,86.5,0,66.28,1
2,0,65.00,0,68.00,0,2,64.00,0,0,75.0,0,57.80,1
3,0,56.00,0,52.00,0,0,52.00,1,0,66.0,1,59.43,0
4,0,85.80,0,73.60,0,1,73.30,0,0,96.8,0,55.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,1,82.00,1,1,77.60,0,0,91.0,0,74.49,1
211,0,58.00,1,60.00,1,0,72.00,1,0,74.0,0,53.62,1
212,0,67.00,1,67.00,1,1,73.00,0,1,59.0,0,69.72,1
213,1,74.00,1,66.00,1,1,58.00,0,0,70.0,1,60.23,1
214,0,62.00,0,58.00,1,0,53.00,0,0,89.0,1,60.22,0

### Train_test Split

In [30]:
x=df.drop('status',axis=1)
y=df['status']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

### Model Training

In [31]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [34]:
# Testing Data Evaluation
y_pred = model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print('MSE :', mse)

rmse = np.sqrt(mse)
print('RMSE :',rmse)

mae = mean_absolute_error(y_test, y_pred)
print('MAE :', mae)

r2_value = r2_score(y_test, y_pred)
print('R-Squared Value :', r2_value)

MSE : 0.12878252706069848
RMSE : 0.35886282485191817
MAE : 0.29567331348053555
R-Squared Value : 0.38943873708915

In [35]:
# Training Data Evaluation
y_pred_train = model.predict(x_train)

mse = mean_squared_error(y_train, y_pred_train)
print('MSE :', mse)

rmse = np.sqrt(mse)
print('RMSE :',rmse)

mae = mean_absolute_error(y_train, y_pred_train)
print('MAE :', mae)

r2_value = r2_score(y_train, y_pred_train)
print('R-Squared Value :', r2_value)

MSE : 0.09064472473793042
RMSE : 0.3010726236939028
MAE : 0.24857427475144978
R-Squared Value : 0.5791535567095207

In [36]:
x.columns

Index(['gender', 'ssc_percentage', 'ssc_board', 'hsc_percentage', 'hsc_board',
       'hsc_subject', 'degree_percentage', 'undergrad_degree',
       'work_experience', 'emp_test_percentage', 'specialisation',
       'mba_percent'],
      dtype='object')

In [38]:
test_array = np.array([0,78,1,70,1,1,72,1,1,60,1,60], ndmin = 2)
test_array

array([[ 0, 78,  1, 70,  1,  1, 72,  1,  1, 60,  1, 60]])

In [39]:
result=model.predict(test_array)
print(result)

[1.16635767]

C:\Users\Pundlik Dange\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [45]:
project_data = {'gender': {'M':0, 'F':1},
               'ssc_board': {'Central':0, 'Others':1},
                'hsc_subject':{'Science':0,'Commerce':1,'Arts':2},
                'hsc_board': {'Central':0, 'Others':1},
                'undergrad_degree':{'Comm&Mgmt':0,'Sci&Tech':1,'Others':2},
                'work_experience':{'No':0,'Yes':1},
                'specialisation':{'Mkt&Fin':0,'Mkt&HR':1},
               'columns': list(x.columns)}
project_data

{'gender': {'M': 0, 'F': 1},
 'ssc_board': {'Central': 0, 'Others': 1},
 'hsc_subject': {'Science': 0, 'Commerce': 1, 'Arts': 2},
 'hsc_board': {'Central': 0, 'Others': 1},
 'undergrad_degree': {'Comm&Mgmt': 0, 'Sci&Tech': 1, 'Others': 2},
 'work_experience': {'No': 0, 'Yes': 1},
 'specialisation': {'Mkt&Fin': 0, 'Mkt&HR': 1},
 'columns': ['gender',
  'ssc_percentage',
  'ssc_board',
  'hsc_percentage',
  'hsc_board',
  'hsc_subject',
  'degree_percentage',
  'undergrad_degree',
  'work_experience',
  'emp_test_percentage',
  'specialisation',
  'mba_percent']}

In [40]:
with open('Linear_Model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [46]:
with open('project_data.json', 'w') as f:
    json.dump(project_data, f)